body {
	background-color: #333;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
}


.container {
	background-color: red;
}


.bookmarks {
	float: right;
	width: 100%;
	background-color: #FFFFFF;
}

ul {
	columns: 3;

}

a,a:hover,a:click, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}

.fa-github {
	color: #F0F6FC;
}

.fa-reddit {
	color: #FF4500;
}

.fa-twitter {
	color: #00A2F3;
}

.fa-linkedin {
	color: #0A66C2;
}


.fa-youtube {
	color: #FF0000;
}


.fa-google {
	color: #4081EC;
}
