body {
	background-color: #444444;
	color: #a3a5aa;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
}


.container {
	width: 100%;
	text-align: center;
	background-color: #3D3D3D;
	display: inline-block;
}


.bookmarks {
	font-size: 20px;
	display: inline-block;
	text-align: left;
	color: white;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

ul {
	columns: 4;
	list-style-type: none;
}

.fa-github {
	color: #F0F6FC;
}

.fa-reddit {
	color: #FF4500;
}

.fa-twitter {
	color: #00A2F3;
}

.fa-linkedin {
	color: #0A66C2;
}

.fa-youtube {
	color: #FF0000;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-google-drive {
  background: conic-gradient(from 30deg, #fbbc05 85deg, #ea4335 85deg 105deg, #4285f4 105deg 220deg, #34a853 220deg) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.icon-archlinux {
	color: #0F94D2
}

.fa-wikipedia-w {
	color: #000000;
	background: #FFFFFF;
	border-radius: 3px;
}


/*
.fa-github {
	color: #F0F6FC;
}

.fa-reddit {
	color: #FF4500;
}

.fa-twitter {
	color: #00A2F3;
}

.fa-linkedin {
	color: #0A66C2;
}


.fa-youtube {
	color: #FF0000;
}


.fa-google {
	color: #4081EC;
}
*/
